@font-face 
{
    font-family:"Product Sans";
    src: url(Font.ttf);
}

body
{
    background:url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:1600px 900px;
}
*
{
    font-family:'Product Sans';
}
#navbar_custom
{
    background-color:rgba(0,0,0, 0.7);
    color:white;
    border-radius:0px;
    border-width:0px;
}
#navbar_logo
{
    color:white;
    font-style:bold;
}
#download_jumbotron
{
    vertical-align: middle;
    align-items:center;
    height:200px;
    text-align:center;
    padding-top:3%;
    padding-right:20px;
    padding-left:20px;
    margin-top:1%;
    margin-right:auto;
    margin-left:auto;
    background-color:rgba(0,0,0, 0.8);
    border-width:0px;
    border-radius:30px;
    /* box-shadow: 3px 3px 5px grey; */
    color:#ffffff;
    font-size:30px;
}
#line_1
{
    margin-left:30%;
    margin-right:30%;
    background-color:white;
    border-color:white;
    border-width:3px;
    border-radius:100px;
}
#download_btn_mac
{
    background-color:#267EFF;
    border-width:0px;
    border-radius:7px;
}
#download_btn_windows
{
    background-color:#267EFF;
    border-width:0px;
    border-radius:7px;
}
#download_btn_linux
{
    background-color:#267EFF;
    border-width:0px;
    border-radius:7px;
}